.footer {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
    
 }
 &__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
 }
 input {
     padding: 12px 20px;
     border: 1px solid #32323D;
     background-color: #1C1814;
     color: #FFFFFF;
     font-family: Urbanist;
     
 }
}